h1,h2,h3,h4,h5,p{
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}


.container{
    width: 100%;
    max-width: 1440px;
    margin:0 auto;
}

.header{
    width: 100%;
    height: 100px;
    background: #000000;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.header_logo{
    width: 100px;
    height: 100px;
}

.header_inner img{
    width: auto;
    height: 100px;
}


.nav{
    text-align: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    height: 100%;
}

.nav li{
    height: 100%;
    margin-right: 30px;
    font-size: 18px;
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
}

.nav_link{
    color: #fff;
    text-decoration: none;
}

.nav li::after{
    content:"";
    position: absolute;
    width: 0;
    height: 1px;
    transition: all 0.3s ease;
    bottom: 0;
}

.nav li:hover::after{
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.search{
    display: none;
}

.header_input{
    width: 250px;
    height: 25px;
}

.header_input input{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: transparent;
    border: 2px solid rgb(196, 196, 196);
    outline: none;
    color: #fff;
    padding-left: 10px;
    font-weight:600;
    transition: 0.75s;
}


.header_input input:focus{
    opacity: 1;
    background: #383838;
}

.header_profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_block{
    height: 100%;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    opacity: 0.75;
    transition: 0.6s;
}

.profile_block:hover{
    opacity: 1;
}

.profile img{
    width: 35px;
    height: auto;
    object-fit: cover;
}

.menuMobile{
    display: none;
    justify-content: center;
    align-items: center;
    transition: 0.75s;
    z-index: 1000;
}

.menuMobileContainer{
    display: block;
    transform: translateX(0);
    margin: 0 10px;
}

.burgerOn,
.burgerOn::before,
.burgerOn::after{
    display: block;
    width: 20px;
    height: 2px;
    background: white;
    transform: rotate(60deg);
    transition: 0.4s ease-in;
}

.burgerOn::before{
    content:'';
    top: 12px;
}

.burgerOff,
.burgerOff::before,
.burgerOff::after{
    display: block;
    position: absolute;
    width: 20px;
    right: 0;
    height: 1px;
    background: white;
    transform: rotate(0);
    transition: 0.4s ease-in-out;
}
.burgerOff::before{
    content: '';
    top: -8px;
}
.burgerOff::after{
    content: '';
    top: 8px;
}


.menuMobileList{
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    background: rgba(0,0,0, 0.80);
    transform: translateX(0%);
    transition: 0.75s;
}

.menuMobileListHidden{
    display: none;
    transform: translateX(100%);
    right: 20px;
}

.menuMobileList Li{
    text-decoration: none;
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid silver;
}
.desktopLink{
    text-decoration: none;
    font-size: 24px;
    color: white;
}


@media(max-width:991px){
    .nav_link{
        font-size: 14px;
    }

    .header,.header_logo,.header_inner img{
        height: 75px;
    }

    .profile img{
        width: 25px;
        height: auto;
    }
    .profile_block span{
        display: none;
    }
    .profile_block{
        opacity: 1;
    }
}

@media(max-width:600px){
    .nav{
        display: none;
    }

    .menuMobile{
        display: flex;
    }
    .profile img{
        width: 24px;
        height: auto;
        padding-right: 20px;
    }
    .burger_btn{
        display: flex;
        padding-right: 20px;
    }
}